{% extends '0nebase.html' %}
{% load crispy_forms_tags %}


{% block title %}
<title>Request-View</title>
{% endblock %}


{% block content %}

<div class="container p-5">
<div class="form-group">

<form action="" method="POST">
{% if messages %}
{% for message in messages %}
<div class="alert alert-dark" role="alert">
{{ message }}
<button type="button" class="close"
data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</div>

{% endfor %}
{% endif %}
<br>
{% csrf_token %}
{% if user_form.errors %}
{% for field in user_form %}
{% endfor %}
{% endif %}

<style>.alignleft {
	float: left;
}
.alignright {
	float: right;
}</style>


<div class="card">
<div class="card-body">

<p class="alignright" style="color: #001952; font-size: small">
Dept: {{ get_pk.user_request.bio_user_relation.department }}
<br> Category: {{ get_pk.request_request.sla_category.sla_category }}<br>
Location: {{ get_pk.user_request.bio_user_relation.branch }}<br>
Priority:<a {% if get_pk.request_request.sla_category.sla_priority.priority_field == 'Medium' %}
style="color: goldenrod" {% elif get_pk.request_request.sla_category.sla_priority.priority_field == 'Low' %}
style="color: green"{% else %}style="color: red"{% endif %}>
{{ get_pk.request_request.sla_category.sla_priority.priority_field }}<br></a>
Phone: {% if get_pk.user_request.bio_user_relation %}{{ get_pk.user_request.bio_user_relation.phone }}{% else %}Not Available{% endif %}<br>
Due Date: {% if get_pk.request_request.close_request == 'Open' or get_pk.request_request.close_request == 'Started' %}
{% if time > due %}<a style="color: red">{{ due }}{% else %}<a style="color: green">{{ due }}{% endif %}
{% elif get_pk.request_request.close_request == 'Closed' %}Resolved{% else %}Not Applicable{% endif %}</a></p><br>
<h5 style="color: #001952"><strong>{{ get_pk.user_request.get_full_name.upper }}</strong></h5>
{% if get_pk.request_request.request_time_update is not None %}<p style="color: #001952; font-size: small">
Ticket assigned at {{ get_pk.request_request.request_time_update }}{% else %}{% endif %}</p>
<br><br><br><br><br>
<p class="card-text">{{ query }}</p>
<br>
<br>
<div class="form-row" style="font-size: small">
{% if query.close_request == 'Open' %}

<div class="form-group col-md-2 mb-0">
<br>
{{ assign.assigned_to|as_crispy_field }}
</div>
<div class="form-group col-md-2 mb-0">
<br>
{{ assign.copy_team|as_crispy_field }}
</div>
<div class="form-group col-md-2 mb-0">
<br>
{{ assign.close_request|as_crispy_field }}
</div>
<div class="form-group col-md-12 mb-0">
<button type="submit" class="btn btn-primary" style="background: #001952">Update</button>
</div>


{% elif query.close_request == 'Completed'  %}
<div class="form-group col-md-2 mb-0">
<br>
{{ assign.close_request|as_crispy_field }}
Ticket can be closed after 24 Hours without user's confirmation
</div>

<div class="form-group col-md-12 mb-0">
<button type="submit" class="btn btn-primary" style="background: #001952">Update</button>
</div>

{% elif query.close_request == 'Started'  %}
<div class="form-group col-md-2 mb-0">
<br>
{{ assign.copy_team|as_crispy_field }}
</div>
<div class="form-group col-md-2 mb-0">
<br>
{{ assign.close_request|as_crispy_field }}
</div>

<div class="form-group col-md-12 mb-0">
<button type="submit" class="btn btn-primary" style="background: #001952">Update</button>
</div>

{% elif query.close_request == 'Closed'  %}
{% endif %}


</form>
</div>
{% if get_pk.request_request.close_request == 'Started' or get_pk.request_request.close_request == 'Completed' %}
<a class="alignright" href="{% url 'ticket-message' pk=get_pk.pk %}">Message</a>{% endif %}
</div>
</div>


</div>
{% endblock %}