{% extends '0nebase.html' %}
{% load crispy_forms_tags %}


{% block title %}
<title>Email-Requester</title>
{% endblock %}


{% block content %}

<div class="container p-5">

<form method="POST" action="">
{% csrf_token %}
<br>
{% if messages %}
{% for message in messages %}
<div class="alert alert-dark" role="alert">
{{ message }}
<button type="button" class="close"
data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</div>
{% endfor %}
{% endif %}


<div class="form-group col-md-8 mb-0">
To: {{ get_pk.user_request.email }}
</div>
    <br>
<div class="form-group col-md-8 mb-0">
Cc: {{ assign.copy_team}}
</div>
<br>
<div class="form-group col-md-8 mb-0">
{{ forms.subject|as_crispy_field }}
</div>
<div class="form-group col-md-8 mb-0">
{{ forms.email|as_crispy_field }}
</div>
<div class="form-group col-md-6 mb-0">
<button type="submit" class="btn btn-primary" style="background: #001952">Send</button>
</div>
</form>
</div>
{% endblock %}