{% extends '0nebase.html' %}
{% load crispy_forms_tags %}


{% block title %}
<title>List Requests</title>
{% endblock %}


{% block content %}
<div class="" style="margin: 35px">
<button type="submit" class="btn btn-primary" style="background: #001952">View Requests</button>
<a class="btn btn-primary" style="background: #001952" href="{% url 'request-create' pk=get_pk.user_pk%}">Create Request</a>
<br>
<div class="container p-5">
{% if messages %}
{% for message in messages %}
<div class="alert alert-dark" role="alert">
{{ message }}
<button type="button" class="close"
data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
{% endif %}

<div class="col-sm-4 ml-md-auto">
<nav >
<form class="form-inline"  method="GET" action="{% url 'request-search' %}">
    {% csrf_token %}
<input class="form-control mr-sm-2 font-small" type="search" value="{{ request.GET.search }}" placeholder="Search" aria-label="Search" name="search" required>
<button class="btn btn-outline-success btn-sm" type="submit">Search</button>
</form>
</nav>
</div>
{% if pagy != 'No Requests' %}
<table class="table table-hover">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Time</th>
<th scope="col">Subject</th>
<th scope="col">Requester</th>
<th scope="col">Location</th>
<th scope="col">Assigned</th>
<th scope="col">Cc</th>
<th>Status</th>
{% if role.role != 'User' %}<th>Priority</th>{% endif %}
</tr>
</thead>
<tbody>

{% if role.role == 'Admin' or role.role == 'IT team'  %}
{% for o,list in loop %}
<tr {% if o == 'Yes' and list.request_request.close_request == 'Open' %}style="background: #e2f1fc" {% else %} {% endif %}>
<th scope="row">{{ pagy.start_index|add:forloop.counter0 }}</th>
<td>{{ list.request_request.request_open }}</td>
<td>{{ list.request_request.sla_category }}</td>
<td><a {% if role.role != 'User' %} href="{% url 'assign-task' pk=list.pk%}" {% else %}{% endif %} style="color: black">{{ list.user_request.get_full_name }}</a></td>
<td>{{ list.user_request.bio_user_relation.branch }}</td>
<td>{{ list.request_request.assigned_to }}</td>
<td>{{ list.request_request.copy_team }}</td>
<td>{{ list.request_request.close_request }} {% if list.request_request.close_request == 'Completed' and role.role == 'User' %}<a href="{% url 'user-confirm'  pk=list.request_request_id %}" class="badge badge-success">Confirm</a>{% endif %}</td>
{% if role.role != 'User' %}<td></td>{% endif %}
</tr>
{% endfor %}

{% else %}
{% for list in pagy %}
<tr>
<th scope="row">{{ pagy.start_index|add:forloop.counter0 }}</th>
<td>{{ list.request_request.request_open }}</td>
<td>{{ list.request_request.sla_category }}</td>
<td><a {% if role.role != 'User' %} href="{% url 'assign-task' pk=list.pk%}" {% else %}{% endif %} style="color: black">{{ list.user_request.get_full_name }}</a></td>
<td>{{ list.user_request.bio_user_relation.branch }}</td>
<td>{{ list.request_request.assigned_to }}</td>
<td>{{ list.request_request.copy_team }}</td>
<td>{{ list.request_request.close_request }} {% if list.request_request.close_request == 'Completed' and role.role == 'User' %}<a href="{% url 'user-confirm'  pk=list.request_request_id %}" class="badge badge-success">Confirm</a>{% endif %}</td>
{% if role.role != 'User' %}<td></td>{% endif %}
</tr>
{% endfor %}
{% endif %}

{% else %}
{{ pagy }}
{% endif %}
</tbody>
</table>
</div>

<div class="pagination justify-content-center">
<span class="step-links border border-light">
{% if pagy.has_previous %}
<a class="badge btn-outline-dark" href="?page={{ pagy.previous_page_number }}">Previous</a>
{% endif %}
<span class="current badge">
Page {{ pagy.number }} of {{ pagy.paginator.num_pages }}
</span>
{% if pagy.has_next %}
<a class="badge btn-outline-dark" href="?page={{ pagy.next_page_number }}">Next</a>
<a class="badge btn-outline-dark" href="?page={{ pagy.paginator.num_pages }}">Last&raquo;</a>
{% endif %}
</span>
</div>

</div>


{% endblock %}