{% extends "0nebase.html" %}
{% load crispy_forms_tags %}

{% block content %}


  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="col-sm-4">
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit" style="background: #001952">Reset password</button>
                <div class="col-sm-4">
        </form>
    </div>

{% endblock %}

 