{% extends '0nebase.html' %}
{% load crispy_forms_tags %}

{% block content %}



	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your official email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST" href="">
            {% csrf_token %}
            <div class="col-sm-4">

{% if messages %}
{% for message in messages %}
<div class="alert" role="alert" style="background: #4878e5;">
<a style="color: white">{{ message }}</a>ad
<button type="button" class="close"
data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</div>
{% endfor %}
{% endif %}

            {{ password_reset_form|crispy }}
            <button class="btn btn-primary" type="submit" style="background: #001952" >Send email</button>
            </div>
        </form>
  	</div> 

{% endblock %}