{% extends '0nebase.html' %}
{% load cacheops %}
{% load static %}
{% load humanize %}


{% block title %}
<title>Home</title>
{% endblock title %}


{% block content %}


<style>
.stick-to-right {
    width: 250px;
    float: right;
}
</style>

<style>
.stick-to-left {
    width: 500px;
    float: left;
    left: 20px;
}
</style>

<a class="badge" href="{% url 'home-report' %}">Reports</a>

<div class="stick-to-right">

<p>Welcome, <strong>{{ user }}, </strong> {{ role }}</p>


</div>
<br>
<br>











<!-- Scripts for the Charts-->
<div class="row">
<div class="stick-to-left card col-sm-4" style="box-shadow: 1px 1px 5px #b3b3b3" >



<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
<script type="text/javascript" src="{% static 'css/jquery1.min.js' %}"></script>



<!-- Bar charts Code-->

<canvas id="barChart" width="200" height="100"></canvas>

<script type="text/javascript">
var ctxB = document.getElementById("barChart").getContext('2d');
var myBarChart = new Chart(ctxB, {
type: 'bar',
data: {
labels: ["Open", "Completed", "Closed", "Cancelled"],
datasets: [{
label: 'Number of Requests',

data: [{{ request_open }}, {{ request_completed }}, {{ request_closed }}, {{ request_cancelled }}],

backgroundColor: [
'rgba(85,118,241,0.62)',
'rgba(241,193,18,0.2)',
'rgba(246,40,48,0.2)',
'rgba(56,219,94,0.2)',
],
borderColor: [
'rgb(34,85,238)',
'rgb(239,171,20)',
'rgb(238,36,36)',
'rgb(10,239,24)',

],
borderWidth: 1
}]
},
options: {
scales: {
yAxes: [{
ticks: {
beginAtZero: true
}
}]
}
}
});
</script>



<!--Date Range Picker-->
<style type = "text/css">
.ui-datepicker { font-size:9pt !important}
</style>

    <div><form method="GET"><input type="text" name="daterange" class="ui-datepicker"   />
        <form method="GET"> <input type="text" name="team-member"placeholder="Colleague's name"  />
<button class="btn btn-outline-amber btn-sm " type="submit">Go </button>
</form> </div>


<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'right',
       drops: 'auto',
      locale:{
     format: 'YYYY-MM-DD'},
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>

</div>





<!--Second chart code-->
<style>
.stick-to-righty {
    width: 450px;
    float: left;
    left: 30px;
}
</style>


<div class="col-sm-4 card stick-to-righty" style="box-shadow: 1px 1px 5px #b3b3b3">
<canvas id="bar" width="200" height="100"></canvas>
    <div><form method="GET"><input type="text" name="date" class="ui-datepicker"   />
<button class="btn btn-outline-amber btn-sm " type="submit">Filter</button>
</form></div>
</div>

<script type="text/javascript">
var ctxB = document.getElementById("bar").getContext('2d');
var myBarChart = new Chart(ctxB, {
type: 'bar',
data: {
labels: ["Email", "Software", "Authentication", "Network", "IP Phone", "Printer"],
datasets: [{
label: 'Requests per Service',

data: [{{ request_email }}, {{ request_software }}, {{ request_authentication }},
    {{ request_network }}, {{ request_phone }}, {{ request_printer }}],

backgroundColor: [
'rgba(85,118,241,0.62)',
'rgba(241,193,18,0.2)',
'rgba(246,40,48,0.2)',
'rgba(56,219,94,0.2)',
'rgba(66,146,86,0.2)',
'rgb(142,5,115)',
],
borderColor: [
'rgb(34,85,238)',
'rgb(239,171,20)',
'rgb(238,36,36)',
'rgb(10,239,24)',
'rgb(53,149,120)',
'rgb(239,10,182)',

],
borderWidth: 1
}]
},
options: {
scales: {
yAxes: [{
ticks: {
beginAtZero: true
}
}]
}
}
});
</script>



<!--Date Range Picker-->
<style type = "text/css">
.ui-datepicker { font-size:9pt !important}
</style>
<script>
$(function() {
  $('input[name="date"]').daterangepicker({
    opens: 'right',
       drops: 'auto',
      locale:{
     format: 'YYYY-MM-DD'},
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>







<!-- Doghnut Chart-->

<div class="col-sm-4">
<canvas id="doughnutChart" height="200"></canvas>
</div>


<style>
.stick-to-sales {
    width: 50px;
    float: left;
    left: 5px;
}
</style>



<!-- Section: Block Content -->
<style>
.stick-to-sales2 {
    width: 50px;
    float: left;
    left: 10px;
}
</style>

<style>.alignleft {
	float: left;
}
.alignright {
	float: right;
}</style>




{% if permission_query == 'Admin' %}
<div class="col-sm-4" >
<br>
<div class="card bg-light; modal-fade" style="max-width: 20rem; box-shadow: 1px 1px 5px #b3b3b3; max-height: 50rem; font-family: 'Lato Black',fantasy">
<div class="card-header" style="background: #17cefc; text-align: center" ><strong>SITREP</strong> </div>
<div class="card-body">
<p class="card-title" style=" font-size: medium">
    <a>Unassigned Requests{% if count_unassigned != 0 %}
        <a href="http://127.0.0.1:8000/request/list/{{ request.user.user_pk }}"><span class="badge badge-danger ml-2">{{ count_unassigned }}</span></a>
        {% else %}
        <a href="http://127.0.0.1:8000/request/list/{{ request.user.user_pk }}">None</a>
        {% endif %}
    </a><br><br></p>
<p>
Overdue Requests
{% if count >= 10 %}
<a class="alignright" style="color: red;" href="{% url 'home-report' %}" target="_blank">&uarr; {{ count }}</a>{% else %}
<a  class="alignright" style="color: green;" href="{% url 'home-report' %}" target="_blank">&darr; {{ count }}</a>
{% endif %}
</p>

<p>{% for list in request_per_IT_team %}
{% for a in list %}<p class="alignleft">{{ a.request_request__assigned_to }}</p> <p class="alignright">   {{ a.count_assigned }}
</p><br>{% endfor %}<br>{% endfor %}</p>



</div>
</div>
</div>

</div>
{% endif %}





{% if permission_query != 'User' %}
<script>
//doughnut
var ctxD = document.getElementById("doughnutChart").getContext('2d');
var myLineChart = new Chart(ctxD, {
type: 'doughnut',
data: {
labels: ["Lagos", "Abuja", "Ikoyi", "PH"],
datasets: [{
data: [{{ request_location_lagos }}, {{ request_location_abuja }},
    {{ request_location_ikoyi }}, {{ request_location_ph }}
    ],
backgroundColor: ["#797878", "#17cefc","#e27e7e" ],
hoverBackgroundColor: ["#797878", "#17cefc"]
}]
},
options: {
responsive: true
}
});
</script>
{% endif %}
</div>
</div>



<div class="container; fixed-bottom">
<div class=" col-sm-3 ml-md-auto">
{% if messages %}
{% for message in messages %}
<div class="alert alert-dark" role="alert">
{{ message }}
 <button type="button" class="close"
data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
 </button>
</div>
{% endfor %}
{% endif %}
</div>
</div>

</div>



{% endblock content %}

